<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>MyCrud - Customer</title>
    <!--/*/ <th:block th:include="fragments/head.html :: head">
        </th:block> /*/-->
</head>

<body>
<div class="container">
    <header th:insert="fragments/header.html :: header"> </header>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title" th:text="${customer.lastName+', '+customer.firstName}">Card title</h5>
            <p class="card-text" th:text="${customer.address}">Some quick example text to build on the card title
                and make up the bulk of the card's content.</p>
            <p class="card-text" th:text="${customer.city+' ('+customer.country+')'}">Paris (France)</p>
        </div>
        <div class="card-body">
            <a th:href="@{/customers}">Customers</a>
            <a th:href="${'/customer/edit/'+customer.id}">Edit</a>
            <a th:href="${'/customer/delete/'+customer.id}">Delete</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">The Footer</div>
</div>
</body>

</html>