<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>MyCrud - Customer</title>
    <!--/*/ <th:block th:include="fragments/head.html :: head">
        </th:block> /*/-->
</head>

<body>
<div class="container">
    <header th:insert="fragments/header.html :: header"> </header>
    <form method="post" th:object="${customer}" th:action="@{/customer}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{version}">
        <div class="form-group">
            <label for="user">User</label>
            <select id="user" th:field="*{userId}">
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"
                        th:selected="${user.id == selectedUserId}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" 
                   placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" 
                   placeholder="Enter last name">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" 
                   placeholder="Enter phone number">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" 
                   placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="billAddress">Bill Address</label>
            <input type="text" class="form-control" id="billAddress" th:field="*{billingAddress.address}"
                   placeholder="Enter bill address">
        </div>
        <div class="form-group">
            <label for="billCity">Bill City</label>
            <input type="text" class="form-control" id="billCity" th:field="*{billingAddress.city}"
                   placeholder="Enter bill city">
        </div>
        <div class="form-group">
            <label for="billState">Bill State</label>
            <input type="text" class="form-control" id="billState" th:field="*{billingAddress.state}"
                   placeholder="Enter bill state">
        </div>
        <div class="form-group">
            <label for="billCountry">Bill Country</label>
            <input type="text" class="form-control" id="billCountry" th:field="*{billingAddress.country}"
                   placeholder="Enter bill country">
        </div>
        <div class="form-group">
            <label for="billZipCode">Bill Zip-Code</label>
            <input type="text" pattern="[0-9]{4}-[0-9]{3}" class="form-control" id="billZipCode" th:field="*{billingAddress.zipCode}"
                   placeholder="Enter bill zip-code">
        </div>
        <div class="form-group">
            <label for="shipAddress">Ship Address</label>
            <input type="text" class="form-control" id="shipAddress" th:field="*{shippingAddress.address}"
                   placeholder="Enter ship address">
        </div>
        <div class="form-group">
            <label for="shipCity">Ship City</label>
            <input type="text" class="form-control" id="shipCity" th:field="*{shippingAddress.city}"
                   placeholder="Enter ship city">
        </div>
        <div class="form-group">
            <label for="shipState">Ship State</label>
            <input type="text" class="form-control" id="shipState" th:field="*{shippingAddress.state}"
                   placeholder="Enter ship state">
        </div>
        <div class="form-group">
            <label for="shipCountry">Ship Country</label>
            <input type="text" class="form-control" id="shipCountry" th:field="*{shippingAddress.country}"
                   placeholder="Enter ship country">
        </div>
        <div class="form-group">
            <label for="shipZipCode">Ship Zip-Code</label>
            <input type="text" pattern="[0-9]{4}-[0-9]{3}" class="form-control" id="shipZipCode" th:field="*{shippingAddress.zipCode}"
                   placeholder="Enter ship zip-code">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:replace="fragments/footer :: footer">The Footer</div>
</div>
</body>

</html>